body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}
.hList{
	display: flex;
	justify-content:space-between;
	flex-direction: row;
}
.button{
	background-color:blueviolet;
	height: 10vh;
	border-radius: 50%;
	font-size: large;
	padding: 2vh 3vh;
}

.restButton{
	background-color:red;
	border-radius: 50%;
	font-size: small;
	padding: 2vh 3vh;
	border: 0;
}